[submodule "lib/vicious"]
	path = lib/vicious
	url = http://git.sysphere.org/vicious
[submodule "lib/flaw"]
	path = lib/flaw
	url = https://github.com/dsoulayrol/flaw.git
[submodule "lib/bashets"]
	path = lib/bashets
	url = git://gitorious.org/bashets/bashets.git
[submodule "lib/blingbling"]
	path = lib/blingbling
	url = git://github.com/cedlemo/blingbling.git
[submodule "themes"]
	path = themes
	url = https://github.com/mikar/awesome-themes.git
[submodule "themes-fallback/solarized"]
	path = themes-fallback/solarized
	url = https://github.com/cycojesus/awesome-solarized.git
[submodule "lib/awesompd"]
	path = lib/awesompd
	url = https://github.com/alexander-yakushev/awesompd.git
[submodule "lib/themes-solarized"]
	path = lib/themes-solarized
	url = https://github.com/cycojesus/awesome-solarized
